.login-container {
  width: 340px;
  height: 475px;
  background: #202024;
  border-radius: 20px;
  margin: 0 auto;
  padding: 20px;
}

.login-container p {
  font-size: 16px;
  text-align: center;
  margin-top: 15px;
  text-decoration: none;
}

.login-container a {
  font-size: 16px;
  color: #8257E5;
  text-decoration: none;
}

.registre-container {
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
}

.foguete {
  position: fixed;
  right: 0px;
  bottom: 10px;
}
