.titulo {
    font-family: SpaceQuest;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.login-container {
    width: 340px;
    height: 475px;
    background: #202024;
    border-radius: 20px;
    margin: 0 auto;
    padding: 20px;
}

.login-container h2 {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}

.input-container {
    
}