.titulo {
    font-family: SpaceQuest;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.login-container {
    width: 340px;
    height: 475px;
    background: #202024;
    border-radius: 20px;
    margin: 0 auto;
    padding: 20px;
}

.login-container h2 {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 20px;
}

.centralizar-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.input-container {
    width: 270px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #121214;
    border-radius: 10px;
    padding: 0 20px;
    margin-top: 15px;
}

.input-container input {
    border: none;
    color: white;
    height:100%;
    background: transparent;
}

.login-container p {
    font-size: 16px;
    text-align: center;
    margin-top: 15px;
    text-decoration: none;
}

.login-container a {
    font-size: 16px;
    color: #8257E5;
}


.login-container button {
    width: 270px;
    height: 50px;
    border-radius: 10px;
    color: #FFF;
    background: #8257E5;
    border: none;
    font-weight: bold;
    margin: 0 auto;
    margin-top: 40px;
}


.registre-container {
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
}


.foguete {
    position: fixed;
    right: 10px;
    bottom: 10px;
}

