.cabeca{
  display: flex;
  height: 40px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.welcome-mensager{
  position: absolute;
  top: 10px;
  left: 10px;

}
.welcome-mensager p{
  font-size: 18px;
  font-weight: 400;

}
.logout{
  position: absolute;
  top: 10px;
  right: 10px;

}
.parte1-div {
  height: 70vh;
  width: 100vw;
}
.parte2-div {
  height:30vh;
  width: 100vw;
  background-color: #292A2D;
  display: flex;
  align-items: center;
  justify-content: center;
}
.parte2-div p {
  font-size: 18px;
  color: #fff;
}

.titulo-pequeno {
  margin-top: 10px;
}

.cometa {
  position: absolute;
  right: 10.5vw;
  top: 30vh;
}

.sol {
  position:absolute;
  left:0;
  bottom:30vh;
}

.jupter-img {
  position:absolute;
  right:50px;
  bottom:38vh;
}

.foguete-img {
  position: absolute;
  left: 15vw;
  top: 20vh;
  height: 250px;
  transform: rotate(15deg);

}
