.cabeca{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: 10px;
}
.cabeca1{
  display: flex;
  align-items: center;
}
.cabeca1 p{
  padding-right: 10px;
}
.parte1-div {
  height: 70vh;
  width: 100vw;
}
.parte2-div {
  height:30vh;
  width: 100vw;
  background-color: #292A2D;
  display: flex;
  align-items: center;
  justify-content: center;
}
.parte2-div p {
  font-size: 18px;
  color: #fff;
}

.titulo-pequeno {
  padding: 20px;
}

.cometa {
  position: absolute;
  right: 10.5vw;
  top: 30vh;
}

.sol {
  position:absolute;
  left:0;
  bottom:30vh;
}

.jupter-img {
  position:absolute;
  right:50px;
  bottom:38vh;
}

.foguete-img {
  position: absolute;
  left: 10vw;
  top: 15vh;
}
